p{
    color: blue;
    font-size: 16px;
}
header a{
    text-decoration: none;
      color: red;
}
h1{
    font-size: 45px;
    color: gray;
}
h2{
    font-size: 45px;
    color: gray;
}
header{
    font-size: 4rem
    ;
}
footer{
    background-color: blue;
    height: 24px;
}
img{
    size: 4rem;
}
